<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1><%=student.firstName%> <%=student.lastName%></h1>
        </div>
        <div class="col-xs-8">
          <table class="table table-responsive table-bordered">
            <tr>
              <th>Year: </th>
              <td> <%=student.year%> </td>
            </tr>
            <tr>
              <th>Major: </th>
              <td> <%=student.major%> </td>
            </tr>
            <tr>
              <th>About Me: </th>
              <td> <%=student.about%> </td>
            </tr>
            <tr>
              <th>I'm taking Intro to Creative Writing because: </th>
              <td> <%=student.course%> </td>
            </tr>
            <tr>
              <th>I'm most excited to write: </th>
              <td> <%=student.genre%> </td>
            </tr>
          </table>
        </div>

        <a href="/students/:id/edit"><span class="glyphicon glyphicon-pencil"></span></a>

      </div>
    </div>
  </body>
</html>
